.DestinationContainer {
  padding: 16px;
}

.DestinationCard {
  float: left;
  margin: 1.5%;
  text-align: center;
  width: 30%;
  height: 350px;
  background: whitesmoke;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.DestinationCard:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.DestinationImage {
  max-height:70%;
  width: 70%;
}

.DeleteButton {
  margin-top: 20px;
  margin-left: 70px;
  position: absolute;
  font-size: 15px;
}

.DeleteButton:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
